<h1>「 <%= @task.content %> 」の詳細ページ</h1>

<table>
      <thead>
          <tr>
              <th>タスク</th>
              <th>status</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><%= @task.content %></td>
              <td><%= @task.status %></td>
          </tr>
      </tbody>
</table>

<p><%= link_to 'タスクを編集する', edit_task_path(@task) %></p>
<p><%= link_to 'タスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？'} %></p>
<p><%= link_to '一覧に戻る', tasks_path %></p>
